<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>week 12</title>
    <link rel="stylesheet" href="/css/style.css" /> 
</head>
<body>

    <nav>
        <ul> 
            <li>
               <a href="/">home</a> </li>
        </ul>
        <ul> 
            <li>
                <a href="/about">about</a> </li>
        </ul>
    </nav>
    
    <h1> home</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam amet commodi exercitationem 
        laboriosam corrupti consequuntur! Rem porro nulla in est nemo minima nesciunt possimus dolore illum, 
        perferendis fuga, fugit nisi!</p>
</body>
</html>